<nav class="navbar navbar-expand-lg bg-body-tertiary">
    <div class="container-fluid">
        <a class="navbar-brand" href="/">首页</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
            aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                <li class="nav-item">
                    <a href="/markdown/list.html" id="markdown-a" class="nav-link">文档</a>
                </li>
                <li class="nav-item">
                    <a href="/bookmark/list.html" id="bookmark-a" class="nav-link">书签</a>
                </li>
                <li class="nav-item">
                    <a href="/code/list.html" id="code-a" class="nav-link">代码</a>
                </li>
            </ul>
            <div class="dropdown">
                <a class="dropdown-toggle" type="button" data-bs-toggle="dropdown" aria-expanded="false" id="username">
                    none
                </a>
                <ul class="dropdown-menu" style="z-index:10000">
                    <li><a class="dropdown-item" href="/logout">退出</a></li>
                </ul>
            </div>
        </div>
    </div>
</nav>