body {
    padding: 0px 7.5% 50px;
    font-family: 'Georgia,serif';
}

.link-list a {
    display: inline-block;
    margin:  0 10px;
}

.label {
    display: inline-block;
    margin-left: 5px;
}

.align-center {
    text-align: center!important;
}

textarea {
    min-width: 100%;
    max-width: 100%;
}

.bytemd-status-right input[type=checkbox] {
    margin: 0 4px 0 0 !important;
}

.red {
    color: red;
}
.bytemd {
    height: calc(100vh - 200px) !important;
}

.bookmark {
    display: block;
    padding: 4px;
    margin-bottom: 5px;
    background-color: #fff;
    -webkit-transition: border .2s ease-in-out;
    -o-transition: border .2s ease-in-out;
    transition: border .2s ease-in-out
}

.navbar {
    margin-bottom: 7px!important;
    min-height: 0;
    border:0px;
}
.page-header {
    margin-top: 5px!important;
}