<html lang="en">

<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <title>书签</title>
    <link rel="stylesheet" href="/assets/css/bootstrap3.4.min.css" />
    <link rel="stylesheet" href="/assets/css/my.css" />
    <script src="/assets/js/jquery.js"></script>
    <script src="/assets/js/bootstrap.min.js"></script>
    <script src="/assets/js/vue.global.js"></script>
    <script src="/assets/js/axios.min.js"></script>
    <script src="/assets/js/bootbox.min.js"></script>
    <script src="/assets/js/util.js"></script>
    <script src="/header.js"></script>
</head>

<body>
    <div id="app"></div>
    <template id="template">
        <div style="padding: 1px 0 20px;display: flex;">
            <template v-if="mode.length < 1">
                <button class="btn btn-primary" @click="showCreateModel()" style="margin-right: 10px;">新建</button>
                <button class="btn btn-warning" @click="setMode('edit')" style="margin-right: 10px;">编辑</button>
                <button class="btn btn-danger" @click="setMode('delete')" style="margin-right: 10px;">删除</button>
                <button class="btn btn-info" @click="importBookmark">导入浏览器标签 <span class="glyphicon glyphicon-import"
                        aria-hidden="true"></span></button>
            </template>
            <template v-else>
                <button class="btn btn-info" @click="setMode('')">退出{{mode == 'edit' ? '编辑':'删除'}}模式</button>
            </template>

        </div>

        <template v-for="item in list">
            <div class="panel panel-default">
                <div class="panel-heading" style="font-size: 16px;">
                    <strong>{{item.category}}</strong>
                    <template v-if="mode == 'edit'">
                        <a @click="showAddModal(item)" style="font-size: 14px; margin-left: 10px;">
                            <span class="glyphicon glyphicon-plus" aria-hidden="true"></span>
                        </a>
                    </template>

                    <div style="float: right;" v-if="mode == 'delete'">
                        <a type="button" class="btn btn-text btn-sm" @click="showBatchDeleteModal(item)">
                            <span class="glyphicon glyphicon-trash" aria-hidden="true"></span>
                        </a>
                    </div>
                </div>
                <div class="panel-body">
                    <template v-for="item2 in item.list" v-if="mode == 'edit'">
                        <button type="button" class="btn btn-default" aria-label="Left Align"
                            @click="showEditModel(item2)">
                            {{item2.title}}
                            <span class="glyphicon glyphicon-pencil" aria-hidden="true"></span>
                        </button>
                    </template>
                    <template v-for="item2 in item.list" v-if="mode == 'delete'">
                        <button type="button" class="btn btn-default" aria-label="Left Align"
                            @click="showDeleteModal(item2)">
                            {{item2.title}}
                            <span class="glyphicon glyphicon-trash" aria-hidden="true"></span>
                        </button>
                    </template>
                    <template v-for="item2 in item.list" v-if="mode == ''">
                        <a :href="item2.link" target="_blank" class="btn">
                            {{item2.title}}
                        </a>
                    </template>
                </div>
            </div>
        </template>
        <div class="modal fade" tabindex="-1" role="dialog" id="myAddModal">
            <div class="modal-dialog modal-lg" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span
                                aria-hidden="true">&times;</span></button>
                        <h4 class="modal-title">添加书签到`{{category}}`</h4>
                    </div>
                    <div class="modal-body">

                        <template v-for="item in list">
                            <template v-if="item.category != category">
                                <h3 style="font-size: 16px;">{{item.category}}</h3>
                                <template v-for="item2 in item.list">
                                    <label class="checkbox-inline" style="margin-bottom: 10px;">
                                        <input type="checkbox" :value="item2.id" v-model="addIds"
                                            name="addIds">{{item2.title}}
                                    </label>
                                </template>
                            </template>
                        </template>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-default" data-dismiss="modal">关闭</button>
                        <button type="button" class="btn btn-primary" @click="doBatchUpdate()">保存</button>
                    </div>
                </div>
            </div>
        </div>

        <div class="modal fade" tabindex="-1" role="dialog" id="myModal">
            <div class="modal-dialog modal-lg" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span
                                aria-hidden="true">&times;</span></button>
                        <h4 class="modal-title">{{ this.edit ? '修改' : '新建'}}书签</h4>
                    </div>
                    <div class="modal-body">
                        <div class="form-horizontal">
                            <div class="form-group">
                                <label for="name" class="control-label col-sm-2">名字</label>
                                <div class="col-sm-9">
                                    <input type="text" class="form-control" v-model="title" placeholder="书签名字">
                                </div>
                            </div>
                            <div class="form-group">
                                <label for="service" class="control-label col-sm-2">链接</label>
                                <div class="col-sm-9">
                                    <textarea class="form-control" v-model="link" placeholder="链接" rows="3"></textarea>
                                </div>
                            </div>
                            <div class="form-group">
                                <label for="env" class="control-label col-sm-2">分类</label>
                                <div class="col-sm-9">
                                    <input type="text" class="form-control" v-model="category">
                                    <template v-for="item in categoryList">
                                        <label class="radio-inline">
                                            <input type="radio" name="category" :value="item"
                                                v-model="category">{{item}}
                                        </label>
                                    </template>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-default" data-dismiss="modal">关闭</button>
                        <button type="button" class="btn btn-primary" @click="doUpdateBookmark()">保存</button>
                    </div>
                </div>
            </div>
        </div>

    </template>
    <script>
        $(document).ready(function () {
            var vm = Vue.createApp({
                data() {
                    return {
                        mode: '',
                        edit: false,
                        bookmark_id: 0,
                        title: 'Edit',
                        link: '',
                        category: '',
                        list: [],
                        categoryList: [],
                        addIds: [],
                    }
                },
                template: '#template',
                async mounted() {
                    this.getList()
                },
                methods: {
                    async getCategoryList() {
                        let result = await axios.get('/distinct/bookmark/category')
                        this.categoryList = result.data.data
                    },
                    async getList() {
                        let url = "/query/bookmark"
                        let result = await axios.get(url)
                        let list = result.data.data
                        let groupBookmark = {}
                        for (var i in list) {
                            if (groupBookmark[list[i].category] == undefined) {
                                groupBookmark[list[i].category] = []
                            }
                            groupBookmark[list[i].category].push(list[i])
                        }
                        let groupBookmarkList = []
                        let categorys = Object.keys(groupBookmark);
                        for (var i in categorys) {
                            groupBookmarkList.push({
                                'category': categorys[i],
                                'list': groupBookmark[categorys[i]],
                            })
                        }
                        console.log(groupBookmarkList)
                        this.list = groupBookmarkList
                        this.getCategoryList()
                    },
                    async showCreateModel() {
                        this.title = ''
                        this.link = ''
                        this.category = ''
                        this.edit = false
                        $('#myModal').modal()
                    },
                    async showEditModel(item) {
                        this.title = item.title
                        this.link = item.title
                        this.category = item.category
                        this.bookmark_id = item.id
                        this.edit = true
                        $('#myModal').modal()
                    },
                    async showDeleteModal(item) {
                        bootbox.confirm("确认删除`" + item.title + "`？", (result) => {
                            if (result) {
                                this.doDelete(item.id)
                            }
                        })
                    },
                    async doDelete(id) {
                        let result = await axios.post('/delete/bookmark/' + id)
                        if (result.data.code < 0) {
                            bootbox.alert(result.data.message)
                        } else {
                            this.getList()
                        }
                    },
                    showBatchDeleteModal(item) {
                        bootbox.confirm("确认删除`" + item.category + "`分类下的所有书签？", async (result) => {
                            if (!result) {
                                return
                            }
                            for (var i = 0; i < item.list.length; i++) {
                                await this.doDelete(item.list[i].id)
                            }
                        })
                    },
                    showAddModal(item) {
                        this.category = item.category
                        $('#myAddModal').modal('show')
                    },
                    async doBatchUpdate() {
                        for (var i in this.addIds) {
                            let result = await axios.post('/modify/bookmark/' + this.addIds[i], {
                                'category': this.category,
                            })
                        }
                        $('#myAddModal').modal('hide')
                        this.getList()
                    },
                    setMode(mode) {
                        this.mode = mode
                    },
                    async importBookmark() {
                        let result = await window.showOpenFilePicker();
                        if (result.length < 1) {
                            return
                        }
                        let content = await result[0].getFile();
                        const buffer = await content.arrayBuffer();
                        let decoder = new TextDecoder("utf-8");
                        let htmlContent = decoder.decode(buffer)
                        let firstFolder = $(htmlContent).find("a")
                        for (let i = 0; i < firstFolder.length; i++) {
                            let folder = firstFolder[i]
                            if ($(folder).attr("href") != undefined) {
                                let insertData = {
                                    "link": $(folder).attr("href"),
                                    "title": $(folder).text(),
                                    'category': '浏览器导入',
                                }
                                await axios.post('/create/bookmark', insertData)
                            }
                        }

                    },
                    async doUpdateBookmark() {
                        if (this.edit) {
                            let updateData = {
                                'title': this.title,
                                'link': this.link,
                                'category': this.category,
                            }

                            let result = await axios.post('/modify/bookmark/' + this.bookmark_id, updateData)
                            if (result.data.code < 0) {
                                bootbox.alert(result.data.message)
                            } else {
                                $('#myModal').modal('hide')
                                this.getList()
                            }

                            return
                        }
                        let insertData = {
                            'title': this.title,
                            'link': this.link,
                            'category': this.category,
                        }
                        let result = await axios.post('/create/bookmark', insertData)
                        if (result.data.code < 0) {
                            alert(result.data.message)
                        }

                        simpleReload()
                    }
                }
            })
            vm.mount('#app')
        })

    </script>
</body>
<style>
    .bytemd {
        height: calc(100vh - 120px);
    }
</style>

</html>