<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
    <meta name="description" content="Description">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0">
    <title>代码创建</title>
    <link rel="icon" href="/favicon.ico" type="image/x-icon" />

    <script src="/header.js"></script>

<body>
    <div id="app"></div>
    <template id="template">
        <div class="form-horizontal">
            <div class="form-group">
                <label for="title" class="col-sm-1 control-label">标题</label>
                <div class="col-sm-5">
                    <input type="text" class="form-control" placeholder="请输入标题" v-model="title">
                </div>
                <div class="col-sm-2">
                    <button class="btn btn-primary" @click="createCode">创建</button>
                </div>
            </div>
            <div class="form-group">
                <label for="title" class="col-sm-1 control-label">语言</label>
                <div class="col-sm-9">
                    <label class="radio-inline" v-for="(item, i) in languageList">
                        <input type="radio" name="language" :value="item" v-model="language" @change="changeLanguage()">{{item}}
                    </label>
                </div>
            </div>
        </div>
        <div id="container"></div>
    </template>

    <script>
       // var codeEditor = null;
        /*
        var initCodeEditor = function (lang, value) {
            require.config({ paths: { vs: '/assets/monaco-editor/min/vs' } });
            require(['vs/editor/editor.main'], function () {
                codeEditor = monaco.editor.create(document.getElementById('container'), {
                    value: value,
                    language: lang,
                    theme: "vs-dark",
                    formatOnPaste: true, //是否粘贴自动格式化
                    automaticLayout: true,
                    height : '1000px'
                });
            });
        }*/

        var startWork = function () {
            var vm = Vue.createApp({
                data() {
                    let list = []
                    return {
                        content: '',
                        title: '',
                        language: '',
                        languageList: [],
                        
                    }
                },
                template: '#template',
                async mounted() {
                    await this.getLanguageList()
                    let language = getQuery('language', 'go')
                    this.language = language;
                    setTimeout(() => {
                        initCodeEditor("container", language, "")
                    }, 400)
                },
                methods: {
                    async getLanguageList() {
                        let result = await axios.get('/code/language')
                        this.languageList = result.data.data || []
                    },
                    changeLanguage() {
                        monaco.editor.setModelLanguage(codeEditor.getModel(), this.language);
                    },
                    async createCode() {
                        let data = {
                            title: this.title,
                            content:  window.codeEditor.getValue(),
                            language: this.language,
                        }
                        console.log(data)
                        if (data.title.trim().length < 1) {
                            bootbox.alert('请输入标题')
                            return
                        }
                        if (this.language.trim().length < 1) {
                            bootbox.alert('请选择分类')
                            return
                        }
                        let result = await axios.post('/create/code', data)
                        if (result.data.code != 0) {
                            bootbox.alert(result.data.message)
                            return
                        }
                        jump('/code/detail.html', {
                            'id': result.data.data.id,
                        })

                    }
                }
            })
            vm.mount('#app')
        }
    </script>
</body>

</html>