<!DOCTYPE html>
<html lang="en">

<head>
    <title>编辑</title>
    <script src="/framework.js"></script>
</head>

<body></body>
<template id="template">
    <div class="row g-3 align-items-center" style="margin-top: 7px;">
        <label for="title" class="col-form-label col-sm-1 text-end">标题</label>
        <div class="col-sm-6">
            <input type="text" class="form-control" placeholder="请输入标题" v-model="title">
        </div>
        <div class="col-auto">
            <button class="btn btn-primary" @click="updateCode">提交</button>
        </div>
    </div>
    <div class="row g-3 align-items-center" style="margin-top: 0px;margin-bottom: 10px;">
        <label for="category" class="col-form-label col-sm-1 text-end">语言</label>
        <div class="col-sm-6">
            <template v-for="(item, i) in languageList">
                <div class="form-check form-check-inline">
                    <input class="form-check-input" type="radio" name="language" :value="item" v-model="language"
                        @change="changeLanguage()" />
                    <label class="form-check-label" for="inlineRadio1">{{item}}</label>
                </div>
            </template>
        </div>
    </div>
    <div id="container" style="height: 600px;"></div>
</template>

<script>
    window.VueObject = {
        data() {
            let list = []
            return {
                content: '',
                title: '',
                language: '',
                languageList: [],
            }
        },
        template: '#template',
        async mounted() {
            await this.getLanguageList()
            this.id = getQuery('id', 0)
            this.getCode();
        },
        methods: {
            async getCode() {
                let result = await axios.get('/query/code?id=' + this.id)
                if (result.data.data.length < 1) {
                    return
                }

                this.title = result.data.data[0].title
                this.language = result.data.data[0].language
                setTimeout(() => {
                    initCodeEditor("container", this.language, result.data.data[0].content)
                }, 400)
            },
            async getLanguageList() {
                let result = await axios.get('/code/language')
                this.languageList = result.data.data || []
            },
            async updateCode() {
                let data = {
                    title: this.title,
                    content: codeEditor.getValue(),
                    language: this.language,
                }
                console.log(data)
                if (data.title.trim().length < 1) {
                    bootbox.alert('请输入标题')
                    return
                }
                if (this.language.trim().length < 1) {
                    bootbox.alert('请选择分类')
                    return
                }
                let result = await axios.post('/modify/code/' + this.id, data)
                if (result.data.code != 0) {
                    bootbox.alert(result.data.message)
                    return
                }
                jump('/code/detail.html', {
                    'id': this.id
                })

            }
        }
    }
</script>

</html>