<html lang="en">

<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <title>代码列表</title>
   
    <script src="/header.js"></script>
</head>

<body>
    <div id="app"></div>
    <template id="template">
        <div style="padding: 1px 0 20px;">
            <label class="radio-inline">
                <input type="radio" name="language" value="all" v-model="language"
                    @change="selectLanguage('')">全部
            </label>
            <label class="radio-inline" v-for="(item, i) in languageList">
                <input type="radio" name="language" :value="item" v-model="language"
                    @change="selectLanguage(item)">{{item}}
            </label>
            <a class="btn btn-link" href="/code/create.html">
                新建
            </a>
        </div>
        <table class="table table-striped  table-bordered">
            <thead>
                <tr>
                    <th>ID</th>
                    <th>标题</th>
                    <th>语言</th>
                    <th colspan="2" style="text-align:center;">操作</th>
                </tr>
            <tbody>
                <tr v-for="(item, i) in list">
                    <td>{{item.id}}</td>
                    <td><a :href="'/code/detail.html?id=' + item.id">{{item.title}}</a></td>
                    <td>{{item.language}}</td>
                    <td style="text-align:center;"><a :href="'/code/edit.html?id=' + item.id">编辑</a></td>
                    <td style="text-align:center;"><a href="javascript:;" @click="showDeleteModal(item)">删除</a></td>
                </tr>
        </table>
    </template>
    <script>
        var startWork = function () {
            var vm = Vue.createApp({
                data() {
                    return {
                        language: '',
                        languageList: [],
                        list: [],
                    }
                },
                template: '#template',
                async mounted() {
                    this.language = getQuery('language', '')
                    this.getLanguageList()
                    this.getList()
                },
                methods: {
                    async getLanguageList() {
                        let result = await axios.get('/code/language')
                        this.languageList = result.data.data
                    },
                    async getList() {
                        let url = "/query/code"
                        if (this.language.length > 0) {
                            url = url + "?language=" + this.language
                        }
                        let result = await axios.get(url)
                        this.list = result.data.data
                    },
                    async selectLanguage(language) {
                        reloadWith({
                            language: language,
                        })
                    },
                    async showDeleteModal(item) {
                        bootbox.confirm("确认删除`" + item.title + "`？", (result) => {
                            if (result) {
                                this.doDeleteCode(item.id)
                            }
                        })
                    },
                    async doDeleteCode(id) {
                        let result = await axios.post('/delete/code/' + id)
                        if (result.data.code < 0) {
                            bootbox.alert(result.data.message)
                        } else {
                            simpleReload()
                        }
                    },
                }
            })
            vm.mount('#app')
        }

    </script>
</body>
<style>
    .bytemd {
        height: calc(100vh - 120px);
    }
</style>

</html>