<!DOCTYPE html>

<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <title>文档列表</title>
   
    <script src="/header.js"></script>
</head>

<body>
    <div id="app"></div>
    <template id="template">
        <div style="padding: 1px 0 20px;">
            <label class="radio-inline">
                <input type="radio" name="category" value="all" v-model="category"
                    @change="selectClassify('all')">全部
            </label>
            <label class="radio-inline" v-for="(item, i) in categoryList">
                <input type="radio" name="category" :value="item" v-model="category"
                    @change="selectClassify(item)">{{item}}
            </label>
            <a class="btn btn-link" href="/markdown/create.html">
                新建
            </a>
        </div>
        
        <table class="table table-striped table-bordered">
            <thead>
                <tr>
                    <th>ID</th>
                    <th>标题</th>
                    <th>分类</th>
                    <th style="text-align:center">操作</th>
                </tr>
            <tbody>
                <tr v-for="(item, i) in list">
                    <td>{{item.id}}</td>
                    <td><a :href="'/markdown/detail.html?id=' + item.id">{{item.title}}</a></td>
                    <td>{{item.category}}</td>
                    <td class="link-list" style="text-align: center;">
                        <a :href="'/markdown/edit.html?id=' + item.id" class="a-group">编辑</a>
                        <a href="javascript:;" @click="showDeleteModal(item)" class="a-group">删除</a>
                    </td>
                </tr>
        </table>
    </template>
    <script>
        var startWork = function () {
            var vm = Vue.createApp({
                data() {
                    return {
                        category: '',
                        categoryList: [],
                        list: [],
                    }
                },
                template: '#template',
                async mounted() {
                    this.category = getQuery('category', 'all')
                    this.getCategoryList()
                    this.getList()
                },
                methods: {
                    async getCategoryList() {
                        let result = await axios.get('/distinct/markdown/category')
                        this.categoryList = result.data.data
                    },
                    async getList() {
                        let url = "/query/markdown"
                        if (this.category.length > 0 && this.category != 'all') {
                            url = url + "?category=" + this.category
                        }
                        let result = await axios.get(url)
                        this.list = result.data.data
                    },
                    async selectClassify(category) {
                        reloadWith({
                            category: category,
                        })
                    },
                    async showDeleteModal(item) {
                        bootbox.confirm("确认删除`" + item.title + "`？", (result) => {
                            if (result) {
                                this.doDeleteMarkdown(item.id)
                            }
                        })
                    },
                    async doDeleteMarkdown(id) {
                        let result = await axios.post('/delete/markdown/' + id)
                        if (result.data.code < 0) {
                            bootbox.alert(result.data.message, () => {
                                this.getList()
                            })
                        } else {
                            bootbox.alert("删除成功", () => {
                                this.getList()
                            })
                        }
                    },
                }
            })
            vm.mount('#app')
        }

    </script>
</body>

</html>